psutil>=5.9.0
aiofiles
aiohttp
aiosignal
anyio
APScheduler
async-timeout
asyncio
attrs
backoff
bcrypt
beautifulsoup4
cachetools
cbor2
celery
certifi
cffi
cfonts
chardet
charset-normalizer
click
colorama
colorlog
configparser
cryptography
decorator
discord.py
dnspython
email-validator
eventlet
fake-useragent
fastapi
filelock
Flask==3.0.3
Flask-Cors
Flask-Login
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
frozenlist
gevent
greenlet
grpcio
grpcio-tools
gunicorn==22.0.0
h11
html5lib
httpcore
httpx
humanize
idna
itsdangerous
Jinja2
jsonschema
loguru
lxml
MarkupSafe
msgpack
multidict
networkx
numpy
openpyxl
opentelemetry-api
opentelemetry-sdk
orjson
packaging
pandas
paramiko
passlib
pathlib2
Pillow
prettytable
prometheus-client
protobuf
protobuf-decoder
psutil>=5.9.0
psycopg2-binary
pyasn1
pyasn1-modules
pycryptodome
pydantic
pydantic-core
pydantic-settings
PyJWT
pymongo
pyparsing
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-magic
python-multipart
python-rapidjson
python-socketio
python-telegram-bot
pytz
PyYAML
redis
regex
requests
requests-cache
rich
rsa
schedule
selenium
sentry-sdk
setuptools
six
sniffio
SQLAlchemy
starlette
structlog
tabulate
tenacity
toml
tomli
tomlkit
tornado
tqdm
typing-extensions
tzdata
ujson
urllib3
user-agents
uvicorn
validators
waitress
watchdog
watchfiles
websocket-client
websockets
werkzeug==3.0.3
wheel
wrapt
yarl
backoff
cachetools
chardet
click
decorator
fastapi
h11
httpcore
itsdangerous
Jinja2
jsonschema
MarkupSafe
multidict
networkx
packaging
paramiko
passlib
pydantic
pydantic-core
pyparsing
python-multipart
regex
six
sniffio
starlette
tenacity
tornado
typing_extensions
uvicorn
watchfiles
Werkzeug
wrapt
requests
pycryptodome
PyJWT
psutil
aiohttp
protobuf
protobuf-decoder
cfonts
pytz
requests-cache
fake-useragent
user-agents
python-socketio
eventlet
gevent
greenlet
dnspython
validators
python-magic
pydantic-settings
email-validator
ujson
python-rapidjson
msgpack
cbor2
tomli
tomlkit
configparser
filelock
pathlib2
watchdog
humanize
tabulate
prettytable
colorlog
structlog
sentry-sdk
opentelemetry-api
opentelemetry-sdk
prometheus-client